@media (max-width: 700px) {

  .pageTitle {
    font-size: 8vw;
    text-align: center;
    width: 100%;
  }
  
  .credits {
    font-size: 4vw;
    text-align: center;
    width: 100%;
  }
  
  .containerCalculator {
    margin-top: 30px;
  }
  
  .containerCalculator .singleButton {
    width: 50px;
    height: 50px;
  }

  #\= {
    width: 50px;
    height: 113px;
  }
  #github {
    width: 9vw;
    height: 9vw;
  }
  
  .header {
    margin-top: 10px;
    padding-bottom: 43px;
  }
  
  .header #help {
    align-self: center;
    font-size: 4vw;
  }
  
  body .helpContent {
    font-size: 4vw;
    margin-top: -30px;
    margin-left: 12px;
  }
  li {
    font-size: 4vw;
  }
}